/*===================================================
reptitve styles are passed through a mixin (function)
=====================================================*/
@mixin respond-to($media) {
	@if $media == tablet {
		@media only screen and (max-width:768px) {@content;}
	}

	@if $media == shortScreen {
		@media only screen and (max-height:528px) {@content;}
	}

	@if $media == wideTablet {
		@media only screen and (max-width:946px) {@content;}
	}
}

@mixin diagGrad ($col1, $col2) {
	background: $col1; /* Old browsers */
	background: -moz-linear-gradient(8deg,  $col1 0%, $col2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,$col1), color-stop(100%,$col2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(8deg,  $col1 0%,$col2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(8deg,  $col1 0%,$col2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(8deg,  $col1 0%,$col2 100%); /* IE10+ */
	background: linear-gradient(8deg,  $col1 0%,$col2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

@mixin circGrad($innerCol, $outerCol) {
	background: $innerCol; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  $innerCol 0%, $outerCol 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  $innerCol 0%,$outerCol 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  $innerCol 0%,$outerCol 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$innerCol', endColorstr='$outerCol',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}




/*Vendor Mixins*/
@mixin vendor-prefix($key, $value) {
	@each $vendor in ('', '-webkit-', '-moz-', '-o-', '-ms-') {
		#{$vendor}#{$key}: #{$value};
	}
}