/*============================================
---------------- SITE VARIABLES --------------
Site template is defined here in variables.
==============================================*/

/* body.home */
$background-image			: 		url('../resources/images/homeBG.png');
$background-icons 			: 		url('../resources/images/homeBgIcons.jpg');
$link 						:		#797979;
$linkHover 					:		#fff;
$linkBg						:		#fff;

$iconsBg					:		url('../resources/images/iconsBg.png');


/* body.transaction */
$bgTransact					:		url('../resources/images/transactBG.png');
$visaBG						:		url('../resources/images/visa.png');
$iconSmallBG				:		url('../resources/images/iconSmallBG.png');
$iconSmall2BG				:		url('../resources/images/iconSmall2BG.png');