/*=================================================
---------- ALL STYLES ARE IMPORTED HERE -----------
===================================================*/

/* -- FONTS -- */
@font-face {
  font-family: 'Lato-Black';
  src: url('./resources/fonts/Lato-Black.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('./resources/fonts/Lato-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: 'Lato-Light';
    src: url('./resources/fonts/Lato-Light.ttf')  format('truetype');
}

@font-face {
    font-family: 'Pacifico';
    src: url('./resources/fonts/Pacifico.ttf')  format('truetype');
}


* {
	font-family: 'Lato-Light';
}

/* -- IMPORTS -- */
@import "_variables.scss",
		"_mixins.scss",
		"_extensions.scss",
		"_layout.scss",
		"_components.scss";