/*=================================================
---------- ALL STYLES ARE IMPORTED HERE -----------
===================================================*/
/* -- FONTS -- */
@font-face {
  font-family: 'Lato-Black';
  src: url("./resources/fonts/Lato-Black.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato-Regular';
  src: url("./resources/fonts/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato-Light';
  src: url("./resources/fonts/Lato-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'Pacifico';
  src: url("./resources/fonts/Pacifico.ttf") format("truetype"); }
* {
  font-family: 'Lato-Light'; }

/* -- IMPORTS -- */
/*============================================
---------------- SITE VARIABLES --------------
Site template is defined here in variables.
==============================================*/
/* body.home */
/* body.transaction */
/*===================================================
reptitve styles are passed through a mixin (function)
=====================================================*/
/*Vendor Mixins*/
/*=====================================================
GeneralComponent styles are stored in an extended class
=======================================================*/
.downloadButton a, body.home .mainWrapper .content .buttons a {
  background: #fff;
  display: inline-block;
  padding: 11px 5px;
  margin: 5px 5px;
  width: 236px;
  text-decoration: none;
  color: #797979;
  border: 1px solid #e2e2e2;
  border-radius: 100px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  font-size: 14px;
  transition: all linear .06s;
  position: relative; }
  .downloadButton a span.buttonBg, body.home .mainWrapper .content .buttons a span.buttonBg {
    background: red;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 100px;
    background: #5c13ff;
    /* Old browsers */
    background: -moz-linear-gradient(8deg, #5c13ff 0%, #d91fff 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #5c13ff), color-stop(100%, #d91fff));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(8deg, #5c13ff 0%, #d91fff 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(8deg, #5c13ff 0%, #d91fff 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(8deg, #5c13ff 0%, #d91fff 100%);
    /* IE10+ */
    background: linear-gradient(8deg, #5c13ff 0%, #d91fff 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    z-index: -1;
    opacity: 0;
    transition: opacity linear .06s; }
  .downloadButton a:hover, body.home .mainWrapper .content .buttons a:hover {
    color: #fff;
    border: 1px solid #8715FF;
    border-top-color: #C71DFF;
    border-right-color: #B71CFF;
    border-left-color: #7C16FF;
    box-shadow: 0 1px 6px -1px #5C1365;
    background: transparent; }
    .downloadButton a:hover > span.buttonBg, body.home .mainWrapper .content .buttons a:hover > span.buttonBg {
      opacity: 1; }
  .downloadButton a:active, body.home .mainWrapper .content .buttons a:active {
    box-shadow: inset 0 1px 6px -2px #5C1365;
    background: rgba(0, 0, 0, 0.2); }

/*Custom Animations*/
@keyframes showBubble {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoomIn {
  from {
    opacity: 0; }
  95% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 1; } }
@keyframes circling {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(359deg); } }
@keyframes reverseCircling {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-359deg); } }
@keyframes doubleCicle {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(-359deg); }
  50% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-359deg); } }
/*==================================================
----------------- LAYOUT STYLES --------------------
This partial contains styles for the layout of every
page of shape.com. (header, body, footer)
====================================================*/
/* Home */
body.home {
  background: #fff url("../resources/images/homeBG.png") no-repeat right top;
  padding: 0;
  margin: 0; }
  @media only screen and (max-width: 768px) {
    body.home {
      background-size: 196px; } }
  body.home .mainWrapper {
    height: 100vh;
    background: url("../resources/images/homeBgIcons.jpg") no-repeat center bottom;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none; }
    body.home .mainWrapper .content {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      width: 340px;
      height: 400px; }
      @media only screen and (max-height: 528px) {
        body.home .mainWrapper .content {
          margin-top: 136px; } }
      body.home .mainWrapper .content .logo {
        margin-bottom: 20px; }
      body.home .mainWrapper .content .logo, body.home .mainWrapper .content .buttons {
        text-align: center; }
      body.home .mainWrapper .content .products {
        text-align: center;
        margin-top: 10px; }
      body.home .mainWrapper .content .aboutShape {
        text-align: center;
        margin-top: 120px; }
        @media only screen and (max-height: 528px) {
          body.home .mainWrapper .content .aboutShape {
            margin-top: 34px; } }
        body.home .mainWrapper .content .aboutShape a {
          color: #797979;
          text-decoration: none; }
          body.home .mainWrapper .content .aboutShape a:hover {
            text-decoration: underline; }
  body.home div.authors {
    background: url("../resources/images/iconsBg.png") repeat center;
    position: relative; }
    body.home div.authors span.bgIcons {
      position: absolute;
      width: 100%;
      height: 100%; }
    body.home div.authors .secTitle {
      text-align: center;
      font-family: 'Pacifico';
      color: #4d4d4d;
      text-shadow: 0 1px 3px #CCCCCC;
      margin-top: 0px;
      padding-top: 14px; }
      @media only screen and (max-width: 768px) {
        body.home div.authors .secTitle {
          font-size: 23px; } }
  body.home div.tutorialVid {
    background: #841bce;
    padding: 70px;
    padding-top: 20px;
    height: 600px;
    position: relative; }
    body.home div.tutorialVid h2.vidTitle {
      color: white;
      text-align: center;
      font-family: 'Lato-Light';
      font-weight: 100;
      margin-top: 30px;
      margin-bottom: 70px; }
    body.home div.tutorialVid .shapeDesc {
      text-align: center;
      font-size: 12px;
      color: #edb5ff; }
    body.home div.tutorialVid .tutVideo {
      box-shadow: 0 0 146px rgba(255, 255, 255, 0.2);
      position: absolute;
      display: inline-block;
      left: 0;
      right: 0;
      width: 600px;
      margin: auto; }
      body.home div.tutorialVid .tutVideo:after {
        content: "";
        background: #020202;
        padding: 2px;
        position: absolute;
        bottom: 0px;
        width: 98%;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 70px;
        -webkit-filter: blur(2px); }
      body.home div.tutorialVid .tutVideo img {
        -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.81, transparent), to(rgba(255, 255, 255, 0.3))); }
    body.home div.tutorialVid .guideDownload {
      border: 1px solid #520C84;
      color: #490D73;
      text-shadow: 0 1px 2px #9525E4;
      box-shadow: 0 1px 1px #9525E4;
      padding: 9px 0;
      text-decoration: none;
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      width: 279px;
      border-radius: 70px; }
      body.home div.tutorialVid .guideDownload:hover {
        text-shadow: 0 1px 2px #6B18A5;
        box-shadow: 0 1px 4px #701DAB; }
      body.home div.tutorialVid .guideDownload:active {
        text-shadow: 0 1px 2px #9525E4;
        box-shadow: 0 1px 1px #9525E4;
        background: rgba(0, 0, 0, 0.07); }
  body.home footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    height: 34px; }
    body.home footer a {
      background: rgba(88, 249, 253, 0.3) url("../resources/images/iconGenCog.png") no-repeat 6px 7px;
      background-size: 15px;
      border: 1px solid rgba(110, 252, 255, 0.6);
      color: #7e7e7e;
      padding: 4px 7px;
      border-radius: 3px;
      display: inline-block;
      text-align: right;
      width: 80px;
      cursor: pointer; }
      body.home footer a:hover {
        box-shadow: 0 1px 1px #797777; }
      body.home footer a:active {
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }

body.transaction {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none; }
  body.transaction header {
    padding: 20px;
    padding-left: 38px; }
  body.transaction section.transactionForm {
    padding: 15px 38px;
    padding-top: 0px;
    padding-right: 5px;
    width: 447px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    position: absolute;
    right: 0px;
    bottom: 53px;
    background: #fbfbfb;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #fbfbfb 0%, #F5F3F3 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #fbfbfb 0%, #F5F3F3 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #fbfbfb 0%, #F5F3F3 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$innerCol', endColorstr='$outerCol',GradientType=1 );
    /* IE6-9 fallback on horizontal gradient */
    overflow: hidden; }
    body.transaction section.transactionForm:after {
      content: "";
      background: #F1F1F1 url("../resources/images/iconSmall2BG.png") repeat;
      background-position: -24px 245px;
      position: absolute;
      top: -189px;
      left: -271px;
      padding: 191px;
      border-radius: 211px; }
  body.transaction section.trial {
    padding: 9px 10px;
    padding-top: 80px;
    position: relative;
    width: 705px;
    margin: auto; }
  body.transaction footer {
    padding: 20px;
    clear: both; }

/*=================================================
All components that not consitute the layout of the
page are styled here
===================================================*/
div.bubbleWrapper {
  position: absolute;
  padding: 8px; }
  @media only screen and (max-width: 768px) {
    div.bubbleWrapper {
      display: none; } }
  div.bubbleWrapper .bubbleAnimate {
    width: 108px;
    height: 108px;
    cursor: pointer; }
    div.bubbleWrapper .bubbleAnimate:hover > .bubViolet, div.bubbleWrapper .bubbleAnimate:hover > .bubPink, div.bubbleWrapper .bubbleAnimate:hover > .bubBlue {
      -webkit-filter: blur(9px); }
    div.bubbleWrapper .bubbleAnimate span.text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      height: 32px;
      width: 47px;
      color: #fff;
      font-size: 12px; }
  div.bubbleWrapper .bubBlue {
    background: rgba(39, 99, 253, 0.6);
    left: 19px;
    top: 15px;
    animation: circling 8s linear forwards infinite;
    transform-origin: 38px; }
  div.bubbleWrapper .bubViolet, div.bubbleWrapper .bubPink, div.bubbleWrapper .bubBlue {
    width: 72px;
    height: 72px;
    border-radius: 70px;
    position: absolute;
    z-index: -1; }
  div.bubbleWrapper .bubViolet {
    background: rgba(231, 16, 249, 0.7);
    top: 22px;
    right: 2px;
    animation: doubleCicle 50s linear reverse infinite;
    transform-origin: 29px; }
  div.bubbleWrapper .bubPink {
    background: rgba(102, 12, 255, 0.6);
    top: 12px;
    right: 3px;
    animation: doubleCicle 30s linear forwards infinite;
    transform-origin: 31px; }

.bub1 {
  top: 68%;
  left: 15%; }
  .bub1 .bubbleAnimate {
    animation: zoomIn 4s ease-in forwards; }
    .bub1 .bubbleAnimate .bubPink {
      background: rgba(102, 12, 255, 0.6);
      top: 12px;
      right: 18px;
      animation: doubleCicle 54s linear forwards infinite;
      transform-origin: 42px; }

.bub2 {
  top: 42%;
  left: 1%; }
  .bub2 .bubbleAnimate {
    animation: zoomIn 4.1s ease-in forwards; }

.bub3 {
  top: 45%;
  right: 19%; }
  .bub3 .bubbleAnimate {
    animation: zoomIn 3.9s ease-in forwards; }

.bub4 {
  top: 65%;
  right: 6%; }
  .bub4 .bubbleAnimate {
    animation: zoomIn 3.976s ease-in forwards; }
    .bub4 .bubbleAnimate .bubViolet {
      top: 11px;
      right: 23px;
      transform-origin: 40px; }
    .bub4 .bubbleAnimate .bubPink {
      top: 12px;
      right: 9px;
      animation: doubleCicle 80s linear forwards infinite;
      transform-origin: 26px; }

/*Author's block styles*/
.author {
  width: 850px;
  margin: auto;
  overflow: hidden;
  padding-top: 33px; }
  @media only screen and (max-width: 946px) {
    .author {
      width: 663px; } }
  .author img {
    float: left;
    position: relative;
    z-index: 0;
    top: 22px; }
  .author h2.name {
    background: #6614ff;
    width: 159px;
    padding: 5px 22px;
    font-size: 25px;
    color: #fff;
    font-family: 'Pacifico';
    font-weight: 100;
    margin: 0;
    position: relative;
    float: left;
    z-index: 100;
    left: -64px;
    top: -9px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.3); }
  .author h4.role {
    float: left;
    background: #9e18fc;
    margin: 0;
    color: #fff;
    padding: 7px 17px;
    font-size: 14px;
    font-weight: 100;
    z-index: 10000000000;
    position: relative;
    left: -186px;
    top: 35px;
    box-shadow: 0 0 26px rgba(0, 0, 0, 0.5); }
  .author .about {
    background: #fafafa;
    padding: 27px 42px;
    padding-top: 82px;
    height: 104px;
    float: left;
    position: relative;
    top: -54px;
    width: 583px;
    left: -28px;
    box-shadow: 0 0 29px rgba(0, 0, 0, 0.1);
    color: #8A8A8A; }
    @media only screen and (max-width: 946px) {
      .author .about {
        padding-top: 66px;
        height: 142px;
        top: -44px;
        width: 396px;
        left: -42px; } }

/*End Author's block styles*/
/*Transaction Page Styles*/
/*header elements' styles*/
body.transaction {
  background: url("../resources/images/transactBG.png") no-repeat center;
  background-size: cover;
  /*transaction styles page*/ }
  body.transaction header img {
    width: 23px; }
  body.transaction header .title {
    position: relative;
    top: -3px;
    left: 11px;
    border-left: 1px solid #CECECE;
    padding: 1px 1px;
    padding-left: 13px; }
  body.transaction .secTitle {
    margin: 0;
    padding-bottom: 3px;
    margin-bottom: 21px;
    font-size: 24px;
    font-weight: 100;
    color: #cbc5c5;
    padding-top: 28px;
    background: url("../resources/images/visa.png") no-repeat right 9px;
    background-size: 46px;
    position: relative;
    z-index: 10; }
    body.transaction .secTitle span {
      text-align: right;
      font-size: 14px;
      color: #C1C1C1;
      display: inline-block;
      float: right; }
  body.transaction form {
    position: relative;
    z-index: 10; }
    body.transaction form input {
      font-size: 14px;
      padding: 1px 8px;
      padding-top: 18px;
      padding-left: 35px;
      width: 327px;
      border: none;
      border-bottom: 1px solid #c1c1c1;
      margin-bottom: 14px;
      box-shadow: 0 1px 1px #ECECEC;
      border-radius: 1px;
      display: block;
      background: transparent;
      transition: border 0.1s linear;
      -webkit-transition: border 0.1s linear;
      -moz-transition: border 0.1s linear;
      -o-transition: border 0.1s linear;
      -ms-transition: border 0.1s linear; }
      body.transaction form input:focus {
        outline: none;
        border-bottom-color: #8511FF; }
    body.transaction form #cdHolder {
      background: url("../resources/images/cdName.png") no-repeat left 10px; }
    body.transaction form #cd {
      background: url("../resources/images/cd.png") no-repeat left 10px; }
    body.transaction form #date {
      background: url("../resources/images/date.png") no-repeat left 10px; }
    body.transaction form .cvcWrapper {
      margin-bottom: 44px;
      cursor: pointer;
      position: relative; }
      body.transaction form .cvcWrapper #cvc {
        padding-left: 1px;
        width: 52px;
        margin-right: 7px;
        margin-bottom: 0;
        display: inline-block; }
      body.transaction form .cvcWrapper span {
        font-size: 13px;
        font-weight: 700;
        background: #C1C1C1;
        width: 16px;
        height: 16px;
        display: inline-block;
        border-radius: 88px;
        text-align: center;
        border: 1px solid white;
        color: #5A5A5A; }
        body.transaction form .cvcWrapper span:hover + img {
          display: inline-block; }
      body.transaction form .cvcWrapper img {
        position: absolute;
        top: -27px;
        display: none; }
    body.transaction form .expDate {
      border: 1px solid transparent;
      width: 326px;
      height: 39px;
      margin-bottom: 17px;
      position: relative; }
      body.transaction form .expDate label {
        margin-right: 25px;
        margin-left: 35px;
        font-size: 14px;
        color: #A9A9A9; }
      body.transaction form .expDate select {
        border: none;
        box-shadow: 0 1px 1px #ECECEC;
        display: inline-block;
        width: 83px;
        padding-left: 8px;
        padding-right: 0;
        border-radius: 0;
        padding-top: 22px;
        -webkit-appearance: none;
        transition: border 0.1s linear;
        -webkit-transition: border 0.1s linear;
        -moz-transition: border 0.1s linear;
        -o-transition: border 0.1s linear;
        -ms-transition: border 0.1s linear; }
        body.transaction form .expDate select:focus {
          outline: none; }
          body.transaction form .expDate select:focus + span.dateBorder {
            border-bottom-color: #8511FF; }
            body.transaction form .expDate select:focus + span.dateBorder:after {
              border-bottom: 1px solid #8511FF;
              border-right: 1px solid #8511FF; }
      body.transaction form .expDate span.dateBorder {
        border-bottom: 1px solid #C1C1C1;
        position: absolute;
        bottom: 3px;
        right: 86px;
        width: 83px; }
        body.transaction form .expDate span.dateBorder:after {
          content: "";
          position: absolute;
          background: #F8F7F7;
          border-bottom: 1px solid #C1C1C1;
          border-right: 1px solid #C1C1C1;
          width: 8px;
          height: 8px;
          transform: rotate(45deg);
          right: 6px;
          bottom: -5px; }
      body.transaction form .expDate span.dateBorder.year {
        right: -1px; }
    body.transaction form button {
      font-size: 14px;
      background: #FBFBFB;
      border: 1px solid #DEDEDE;
      padding: 8px 30px;
      border-radius: 70px;
      color: #7D7D7D;
      box-shadow: 1px 1px 1px #EFEEEE; }
      body.transaction form button:focus {
        outline: none; }
  body.transaction .paypal {
    padding: 15px;
    margin-top: 50px;
    position: absolute;
    bottom: 43px;
    right: -27px; }
    body.transaction .paypal a {
      padding: 12px 24px;
      border-radius: 1px;
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
      background: #ff9600;
      /* Old browsers */
      background: -moz-linear-gradient(8deg, #ff9600 0%, #ffba00 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #ff9600), color-stop(100%, #ffba00));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(8deg, #ff9600 0%, #ffba00 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(8deg, #ff9600 0%, #ffba00 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(8deg, #ff9600 0%, #ffba00 100%);
      /* IE10+ */
      background: linear-gradient(8deg, #ff9600 0%, #ffba00 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      color: #585858;
      font-weight: 100;
      text-decoration: none;
      text-shadow: 1px 1px 0 #FFB400; }
      body.transaction .paypal a span {
        font-weight: 600;
        font-style: italic; }
      body.transaction .paypal a:hover {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.8); }
  body.transaction .add {
    background: #5d6267;
    padding: 10px;
    height: 489px;
    width: 570px;
    border-radius: 3px;
    box-shadow: 0 1px 7px #272727;
    position: relative; }
    body.transaction .add .circleWrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: hidden;
      border-radius: 3px; }
      body.transaction .add .circleWrapper:after {
        content: "";
        background: #55595D url("../resources/images/iconSmallBG.png") repeat center;
        position: absolute;
        top: -113px;
        left: -46px;
        padding: 191px;
        border-radius: 211px; }
    body.transaction .add img {
      position: relative;
      z-index: 10;
      top: -37px;
      left: 11px; }
    body.transaction .add p.license {
      width: 202px;
      font-size: 12px;
      color: #B3B3B3; }
    body.transaction .add a {
      font-size: 12px;
      color: #FFCC00;
      position: relative;
      z-index: 1; }
      body.transaction .add a:hover {
        color: #FFEF00; }
    body.transaction .add .priceWrapper {
      border-bottom: 1px solid #4e5356;
      box-shadow: 0 1px 0 #62666B;
      margin-top: 23px;
      padding-bottom: 5px; }
      body.transaction .add .priceWrapper span {
        color: #878c91;
        display: block; }
      body.transaction .add .priceWrapper .price {
        color: #e2e2e2;
        font-size: 34px;
        font-weight: 100;
        text-shadow: 0 1px 1px #3E3E3E; }
    body.transaction .add .trialQuestion {
      color: white;
      font-size: 10px;
      margin-left: 3px; }
    body.transaction .add a.trialBtn {
      padding: 6px 15px;
      font-size: 11px;
      text-decoration: none;
      color: #fff;
      border-radius: 50px;
      background: #0066ff;
      /* Old browsers */
      background: -moz-linear-gradient(8deg, #0066ff 0%, #007eff 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, #0066ff), color-stop(100%, #007eff));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(8deg, #0066ff 0%, #007eff 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(8deg, #0066ff 0%, #007eff 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(8deg, #0066ff 0%, #007eff 100%);
      /* IE10+ */
      background: linear-gradient(8deg, #0066ff 0%, #007eff 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$col1', endColorstr='$col2',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */ }
  body.transaction footer {
    padding: 14px;
    position: fixed;
    bottom: 0;
    width: 100%; }
    body.transaction footer a {
      margin-right: 15px;
      border-right: 1px solid darkgrey;
      padding-right: 18px;
      padding-bottom: 3px;
      margin-left: 197px;
      text-decoration: none;
      color: #A0A0A0; }
      body.transaction footer a:hover {
        text-decoration: underline; }
    body.transaction footer span {
      height: 16px;
      text-align: center;
      width: 16px;
      border-radius: 100px;
      padding: 5px;
      margin: 0 5px;
      color: white;
      cursor: pointer; }
      body.transaction footer span:hover {
        box-shadow: 0 0 3px #656565; }
    body.transaction footer .fa-facebook {
      background: #2E70CA; }
    body.transaction footer .fa-twitter {
      background: #00D6FF; }

/*End trasaction page styles*/

/*# sourceMappingURL=global.css.map */
